.salah-shift-cards {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .state.travail {
    color: #0080ff;
  }
  
  .state.repos {
    color: #4caf50;
  }
  