.topbar {
    background-color: white;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #eee;
    border-top-right-radius: 12px;
    margin-bottom: 5px;
  }
  
  .topbar-logo img {
    height: 40px;
  }
  
  .topbar-controls {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 20px;
    color: #555;
    cursor: pointer;
  }
  
  .yellow-bg {
    background-color: #f1da2b;
    padding: 10px;
    border-radius: 50%;
  }
  
  .orange-bg {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ff903bc0;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 14px;
  }
  
  .user-email {
    font-size: 12px;
  }
  